@font-face {
    font-family: 'game_of_thronesregular';
    src: url('../font/game_of_thrones-webfont.woff2') format('woff2');
    url('../font/game_of_thrones-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.body {
    background-image: url("../img/bg.jpg");
    font-family: 'game_of_thronesregular';
}
.jumbotron {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 70px;
    color: #676767;
    background-color: rgba(0,0,0,0.9);
}

.jumbotron h1 {
    font-size: 63px;
    word-spacing: 15px;
}

.jumbotronSmall {
    margin-top: 25px;
    margin-bottom: 25px;
}

.panel-body {
    padding: 0;
}

.btn-got {
    color: black;
    background-color: #676767;
    border-color: #676767;
    border-bottom: 3px solid #414141;
    outline: none;
}

.btn-got:hover {
    color: black;
    background-color: #676767;
    border-color: #676767;
    border-bottom: 3px solid #414141;
    outline: none;
}

.btn-got:focus {
    color: black;
    background-color: #676767;
    border-color: #676767;
    border-bottom: 3px solid #414141;
    outline: none;
}

.btn-got:active {
    color: black;
    background-color: #676767;
    border-color: #676767;
}

.btn-group-lg > .btn, .btn-lg {
    padding: 14px 20px;
    font-size: 22px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.panel-success {
    border: 4px solid #32b523;
}

.panel-primary {
    border: 4px solid #676767;
}

.panel-danger {
    border: 4px solid #da0a08;
}